body {
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
}

body * {
  margin: 0;
  border: 0;
  padding: 0;
}

.newsletter {
  font-family: 'Oswald', sans-serif;
}
.peso-regular{
  font-weight: 400;  
}

/*barra de nav*/
.color-ntf {
  background-color: #660066;
}

/* comienzo de primera seccion de imagen de perfil*/
.foto-perfil {
  background-image: url("../img/bg_hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  background-position: center;

}
.alto-img {
  padding-top: 36rem
}
.alto-img2{
  margin-top: 15rem;
}
.titulo-perfil_1 {
  font-size: 5rem;
}
.titulo-perfil_2 {
  font-size: 5rem;
}
.titulo-perfil_3 {
  font-size: ;
}
.titulo-perfil_3 {

  font-size: ;
}

.titulo-principal_linea {
  border-top: 2px solid #fff;
  padding-top: 20px;
  display: inline-block;
}

/*seccion de parrafo principal*/
.linea-parrafo {
  border-bottom: 1px solid #373A3C;
  padding-bottom: 20px;
  display: inline-block;
  width: 10%;
}

/*seccion de parrafo secundario*/
.espacio-linea {
  line-height: 2.3em;
}

/*carousel*/
.carousel-indicators li {
  width: 0.7rem;
  height: 0.7rem;
  background-color: grey;
  border-radius: 50%;
}

.linea-carousel {
  border-bottom: 3px solid #373A3C;
  padding-bottom: 5px;
  display: inline-block;
  width: 8%;
}

.carousel-icon {
  color: #ac2c2c;
}

.margin-icon {
  padding-bottom: 50px;
}
.titulo-carousel_icon{
  color: #373A3C;
  font-size: 20px;
}

/*Trebajos anteriores*/
.linea {
  border-bottom: 3px solid #fff;
  padding-bottom: 20px;
  display: inline-block;
}

/*formulario de contacto*/


/*pie de pagina*/
/* comienzo de primera seccion de imagen de perfil*/
